body {
    font-family: 'Cambria', serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1, h3 {
    font-family: 'Trebuchet ms', serif;
    color: #198754;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Trebuchet ms', serif;
    border-bottom: 2px solid #198754;
    padding-bottom: 10px;
}

p, ul, ol {
    text-align: justify;
    margin-bottom: 20px;
}

a {
    color: #198754;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #198754;
    border-bottom: 3px solid #198754;
}

.navbar-brand {
    color: #000000;
}

.navbar-nav .nav-link {
    color: #000000;
}

footer {
    background-color: #198754;
    padding: 20px;
    border-top: 3px solid #198754;
    text-align: center;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
    color: #fff;
}

footer a {
    color: #fff;
}

.container {
    margin-top: 20px;
}

main {
    margin: 0 auto;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 40px;
}

.img-section {
    text-align: center;
    margin: 20px 0;
}

.img-section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-section figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #198754;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.card-body {
    padding: 20px;
}

ul, ol {
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}
